html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

.parent {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242333;
}
